<p>Greetings, Nomster Place-Maker!</p>
<p>
    Congrats to You! A comment has been added to your listing, <b><%= @place.name %></b>, located at <%= @place.address %> on Nomster.

    Go see the comment by clicking this link:
    <%= link_to 'Comments on Your Place', place_url(@place) %>.
</p>

Thanks,<br />
-- Jim