<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<table style="width:50%">
  <thead>
      <tr>
          <th>Name</th>
          <th style="text-align:right;">Price</th>
          <th style="text-align:right;">Quantity</th>
      </tr>
  </thead>
  <tbody>
      <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td style="text-align:right;"><%= number_to_currency product.price %></td>
            <td style="text-align:right;"><%= product.quantity %></td>
          </tr>
      <% end %>
  </tbody>
</table>